
.close{
    justify-content: end;
    background-color: rgb(221, 110, 59);
    cursor: pointer;
    font-size: larger;
}
.button{
    padding: 6px 12px;
border-radius: 4px;
border: none;
cursor: pointer;
justify-content: end;
margin-left: auto;
font-size: large;
background-color: rgba(242, 8, 8, 0.949);
color: rgb(0, 0, 0);
margin-left: 50px;
cursor: pointer;
}